.box-handler {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border: 1px solid #ebe3e3;
  border-radius: 10px;
  box-shadow: 0px 0px 8px -4px;
  margin: 80px auto;
}
.box-handler .box-input {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.box-handler .box-input div {
  display: flex;
  flex-direction: column;
}

.box-handler .box-input input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ccc7c7;
}
.box-handler .box-input label {
  font-size: 14px;
  font-family: sans-serif;
  margin-left: 3px;
  margin-bottom: 5px;
}
.box-handler .box-input input::placeholder {
  color: #bcbcbc;
  font-size: 14px;
  font-family: sans-serif;
}

.button-handler {
  padding-top: 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.button-handler button {
  padding: 10px;
  border-radius: 5px;
  background: #1f46a2;
  color: white;
  font-size: 13px;
  border: 0;
  min-width: 100px;
  cursor: pointer;
}

.product-text {
  margin-top: 20px;
  display: flex;
  align-items: center;
  background: #e6edf8;
  padding: 15px 10px;
  border-radius: 10px;
  gap: 5px;
  width: 100%;
}

.items {
  width: 100%;
  gap: 20px;
}
.item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.delete-item {
  padding: 10px;
  border-radius: 5px;
  background: #1f46a2;
  color: white;
  font-size: 13px;
  border: 0;
  min-width: 100px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .box-handler {
    margin-left: 20px;
    margin-right: 20px;
  }
}
